<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= link_to product_path(product), product %></td>
    <td><%= link_to edit_product_path(product), edit_product_path(product) %></td>
  </tr>
<% end %>
<% @decorated_products.each do |product| %>
  <tr>
    <td>DECORATED <%= product.name %></td>
    <td><%= link_to product_path(product), product %></td>
    <td><%= link_to edit_product_path(product), edit_product_path(product) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
